.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9EFDE;
    border-radius: 40px;
    padding: 0 2.5rem;
    &>.logo {
        &>h1 {
            color: #253028;
        }
    }

    &>.nav__options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        &>ul {
            display: flex;
            gap: 1rem;
            list-style: none;
            & > li{
                
            }
        }

        &>.buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            &>.contact__btn {
                border: 0.5px solid #232E26;
                border-radius: 25px;
                background-color: transparent;
                padding: 1rem;
                cursor: pointer;
                transition: ease 0.4s;

                &:hover {
                    background-color: #232E26;
                    color: #D9EFDE;
                }
            }

            &>.download__btn {
                background-color: #232E26;
                border: 0.5px solid #232E26;
                color: #D9EFDE;
                border-radius: 25px;
                cursor: pointer;
                padding: 1rem;
                transition: ease 0.4s;
                &:hover {
                    background-color: #D9EFDE;
                    color: #232E26;
                }
            }
        }
    }
}