.section__three{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
    & >.sub{
        margin: 0rem;
        align-self: flex-start;
        color: #D9EFDE;
        font-size: 1.5rem;
        padding-top: 1.5rem;
    }
    & > .title{
        align-self: flex-start;
        color: #D9EFDE;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
    }
    
    & > h2{
        margin: 0;
        color:#D9EFDE;
        font-size: 3rem;
        
    }
}